.toolbar {
    position: sticky;
    left: auto;
    top: 1rem;
    display: flex;
    margin-bottom: 1rem;
    border-radius: .75rem;
    overflow: hidden;
    background: rgba(#fff, 0.5);
    backdrop-filter: blur(10px);
    z-index: 100;
    text-align: right;

    .logo {
        background: #ff3c00;
        color: #fff;
        display: inline-flex;
        align-items: center;
        gap: .5rem;
        font-weight: 500;
        padding: 0 .5rem;

        small {
            font-size: .75rem;
            letter-spacing: 1px;
            transform: translateY(1px);
        }
    }

    nav {
        display: inline-flex;
        margin-left: auto;
        gap: .2rem;
        overflow: hidden;
    }
}